/* common css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* navbar section start */
nav{
    background-color: rgb(255, 248, 243);
}
.navbar{
display: flex;
align-items: center;
padding-top: 51px;
justify-content: space-around;
}
.mary h1{
    font-size: 45px;
    font-weight: 800;
}
.mary span{
    color: rgb(253, 110, 10);
}

.nav-link a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 51px;
    color: rgb(71, 71, 71);
}
.nav-link button{
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    margin-left: 51px;
    border-radius: 10px;
    color: white;
    background-color: rgb(253, 110, 10);
}
/* navbar section end */

/* banner seciton */

.banner{
    display: flex;
    justify-content: space-between;
    /* gap: 163px; */
    align-items: center;
}
.banner-image{
    background-repeat: no-repeat;
    width: 40%;
    background-position: bottom, top;
    background-image: url('/images/header_bg.png');
}
.banner-image img{
    position: relative;
    left: 180px;
}
.banner-description{
    margin-left: 230px;
}
.banner-description h2{
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    color: rgb(71, 71, 71);
}
.banner-description h1{
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    margin-top: 5px;
}
.banner-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    color: rgb(117, 117, 117);
}
.button{
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.button1{
    display: flex;
    gap: 10px;
    padding: 18px 17px;
    border: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(253, 110, 10);
    font-size: 20px;
    font-weight: 700;
}
.button2{
    display: flex;
    gap: 10px;
    padding: 18px 17px;
    border: none;
    border-radius: 8px;
    border: 1px solid rgb(253, 110, 10);
    color: rgb(253, 110, 10);
    background-color: rgb(255, 248, 243);
    font-size: 20px;
    font-weight: 700;
}